@model iBot.Models.IbotDevelopment.AdmActiveDocumentsDefault

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@*<div>
    <h4>AdmActiveDocumentsDefault</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DocumentNum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
